<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>GenesisEstudiov13</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LetLogin</servlet-name>
    <servlet-class>controlador.LetInicioSesion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LetReserva</servlet-name>
    <servlet-class>controlador.LetReserva</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LetCliente</servlet-name>
    <servlet-class>controlador.LetCliente</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadFileServlet</servlet-name>
    <servlet-class>controlador.DownloadFileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LetCampania</servlet-name>
    <servlet-class>controlador.LetCampania</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LetTrabajador</servlet-name>
    <servlet-class>controlador.LetTrabajador</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LetSesion</servlet-name>
    <servlet-class>controlador.LetSesion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LetCanalDeVenta</servlet-name>
    <servlet-class>controlador.LetCanalDeVenta</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LetTipoSesion</servlet-name>
    <servlet-class>controlador.LetTipoSesion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LetMetodoPago</servlet-name>
    <servlet-class>controlador.LetMetodoPago</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LetMetodoPago</servlet-name>
    <url-pattern>/ServletMetodoPago</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LetLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LetReserva</servlet-name>
    <url-pattern>/ServletReserva</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LetCliente</servlet-name>
    <url-pattern>/ServletCliente</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadFileServlet</servlet-name>
    <url-pattern>/DownloadFileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LetTrabajador</servlet-name>
    <url-pattern>/ServletTrabajador</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LetCampania</servlet-name>
    <url-pattern>/ServletCampania</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LetSesion</servlet-name>
    <url-pattern>/ServletSesion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LetCanalDeVenta</servlet-name>
    <url-pattern>/ServletCanalDeVenta</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LetTipoSesion</servlet-name>
    <url-pattern>/ServletTipoSesion</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <error-page>
    <error-code>404</error-code>
    <location>/error.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error500.html</location>
  </error-page>
</web-app>